.container {
	margin: 0 auto;
	width: 900px;
}

header {
	/*background: deeppink;*/
	overflow: hidden;
	/*height: 100px*/
}

.logo {
	height: 80px;
	width: 200px;
	background-color: darkorange;
	float: left;
}

nav {
	float: right;
}

nav a {
	display: inline-block;
	height: 40px;
	width: 100px;
	background-color: gold;
	margin-top: 20px;
	margin-left: 5px;
}

a {
	text-decoration: none;
	text-align: center;
}

main {
	background: mediumseagreen;
	height: 250px;
	margin-top: 25px;
	margin-bottom: 25px;
}

article {
	background: dodgerblue;
	height: 150px;
	width: 32%;
	margin-bottom: 25px;
}

.a1 {
	float: left;
}

.a2 {
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.a3 {
	float: left;
}

footer {
	clear: both;
	background: darkorchid;
	height: 100px;
}