body {
	background: url("../images/background.jpg");
	color: #000000;
}

.container {
	max-width: 800px;
	padding: 50px 25px;
}

.header {
	/*width: 150px;*/
	/*margin: 0 auto;*/
	text-align: center;
	margin-top: -30px;
	margin-bottom: 35px;
}

.article {
	/*width: 750px;*/
	/*margin: 0 auto;*/
	text-align: center;
	background-color: #ffffff;
	padding-top: 5px;
	padding-bottom: 25px;
}

h4 {
	font-size: 20px;
	text-align: left;
	padding-left: 20px;

}

p {
	font-size: 12px;
	text-align: left;
	line-height: 175%;
	padding-left: 20px;
	padding-right: 20px;
}

.byline p {
	padding-left: 0;
	padding-right: 0;
	border-top-style: dotted;
	border-top-width: thin;
	border-bottom-style: solid;
	border-bottom-width: 2.5px;
	border outline: black;
}

.byline {
	padding-left: 20px;
	padding-right: 20px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:link {
	color: #ff3300;
}

a:visited {
	color: #ff3300;
}

a:hover {
	color: #4078C0;
}

span {
	color: red;
}

.social-icons {
	/*width: 150px;*/
	/*margin: 0 auto;*/
	text-align: center;
	margin-top: 30px;
}

.blackbox {
	background-color: black;
	height: 50px;
	width: 100%;
	margin-top: -50px;
}