body {
	font-family: "Source Sans Pro";
	background: whitesmoke;
	/*margin-right: 8px;*/
}

/*would be best not to set a fixed width for container.  ideally want to be able to view the page at many different widths. floats help us accomplish this with pushing things to right or left of browser. we will talk more about responsive design.*/
.container {
	width: 900px;
}

h1 {
	/*background-color: pink;*/
	margin-top: 7px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.logo {
	color: yellow;
	float: left;
	font-family: "Merriweather", serif;
	font-size: 30px;
}

nav {
	float: right;
	/*background-color: pink;*/
	margin-top: 15px;
	margin-right: 20px;
}

a {
	text-decoration: none;
	padding-left: 7px;
	font-size: 12px;
}
/*don't need ":link" here. https://css-tricks.com/pseudo-class-selectors/*/
a:link {
	color: white;
}

a:hover {
	color: yellow;
}

header {
	background: black;
	height: 50px;
	border-bottom: 3px yellow solid;
}

.tagline {
	text-align: center;
	height: 35px;
	font-family: "Merriweather", serif;
	font-size: 15px;
	background: #C6C6C6;
	clear: both;
	font-style: italic;
	padding-top: 15px;
}

.taste {
	color: slategray;
	text-decoration: line-through;
}

.are {
	border-bottom: 2px solid yellow;
}

main {
	background-image: url(../images/coworking.jpg);
	background-position: center;
	height: 315px;
}

.meet {
	height: 270px;
	width: 350px;
	float: right;
	background: rgba(255, 255, 255, .75);
	margin-top: 25px;
	margin-right: 30px;

	border: 1px solid rgba(0, 0, 0, .5);
	/*box-shadow: 1px 1px 1px #ccc;*/
}

h2 {
	font-size: 30px;
	font-weight: bold;
	padding-left: 25px;
	margin-bottom: 10px;
}

.meetyourmatch {
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 0;
}

h3 {
	font-family: "Merriweather", serif;
	font-size: 25px;
}

.yellowbutton {
	font-family: "Oswald", sans-serif;
	padding: 10px;
	margin-left: 25px;
	width: 300px;
	background-color: yellow;
	/*border: none;*/
}

.graybutton {
	font-family: "Oswald";
	padding: 10px;
	width: 200px;
	background-color: lightgray;
}

.section1 {
	height: 200px;
	width: 260px;
	float: left;
	padding-left: 20px;
	margin-top: 20px;

}

.section2 {
	height: 200px;
	width: 258px;
	float: left;
	padding-left: 20px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	margin-top: 20px;

}

.section3 {
	height: 200px;
	width: 260px;
	float: left;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	/*some extra spaces you can remove in this css before some closing brackets*/

}

footer {
	clear: both;
	background: black;
	height: 30px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;

}







