h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

li {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

img {
	padding-left: 250px;
}