.container {
	width: 90%;
	margin: 0 auto;
}

header {
	background: deeppink;
	height: 100px;
}

main {
	background: gold;
	height: 250px;
	float: left;
	width: 70%;
}

aside {
	background: mediumseagreen;
	height: 250px;
	float: right;
	width: 30%;
}

/*.clear {
	clear: both;
}*/

footer {
	background: dodgerblue;
	height: 100px;
	clear: both;
}